/* ===================================================================
 * fonts.scss
 *
 * ------------------------------------------------------------------- */


/*
 * libre baskerville
================================================================================ */

@font-face {
    font-family: "librebaskerville-regular";
    src: url("../fonts/alegreya/AlegreyaSans-Regular.woff2") format("woff2"), url("../fonts/alegreya/AlegreyaSans-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "librebaskerville-italic";
    src: url("../fonts/alegreya/AlegreyaSansSC-Italic.woff2") format("woff2"), url("../fonts/alegreya/AlegreyaSansSC-Italic.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "librebaskerville-bold";
    src: url("../fonts/alegreya/AlegreyaSans-Bold.woff2") format("woff2"), url("../fonts/alegreya/AlegreyaSans-Bold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

/*
 * montserrat
================================================================================ */

@font-face {
    font-family: "montserrat-black";
    src: url("../fonts/alegreya/AlegreyaSans-Black.woff2") format("woff2"), url("../fonts/alegreya/AlegreyaSans-Black.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-extrabold";
    src: url("../fonts/alegreya/AlegreyaSans-ExtraBold.woff2") format("woff2"), url("../fonts/alegreya/AlegreyaSans-ExtraBold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-bold";
    src: url("../fonts/alegreya/AlegreyaSans-Bold.woff2") format("woff2"), url("../fonts/alegreya/AlegreyaSans-Bold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-semibold";
    src: url("../fonts/montserrat/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-semibold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-medium";
    src: url("../fonts/alegreya/AlegreyaSans-Medium.woff2") format("woff2"), url("../fonts/alegreya/AlegreyaSans-Medium.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-regular";
    src: url("../fonts/alegreya/AlegreyaSans-Regular.woff2") format("woff2"), url("../fonts/alegreya/AlegreyaSans-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-light";
    src: url("../fonts/alegreya/AlegreyaSans-Light.woff2") format("woff2"), url("../fonts/alegreya/AlegreyaSans-Light.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-extralight";
    src: url("../fonts/montserrat/montserrat-extralight-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-extralight-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-thin";
    src: url("../fonts/alegreya/AlegreyaSansSC-Thin.woff2") format("woff2"), url("../fonts/alegreya/AlegreyaSansSC-Thin.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}